POSTGRES_DB=nearbuy_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=replace-with-a-local-password
POSTGRES_PORT=5433
GATEWAY_PORT=8080
JWT_SECRET=replace-with-a-random-secret-at-least-32-characters-long
JWT_ISSUER=nearbuy-api
INTERNAL_API_KEY=
PAYSTACK_SECRET_KEY=
PAYSTACK_TRANSFERS_ENABLED=false
PAYSTACK_CALLBACK_URL=
PAYMENTS_SANDBOX_ENABLED=true
CORS_ALLOWED_ORIGIN_PATTERNS=http://localhost:*
EXPO_PUSH_ENABLED=false
OTP_DELIVERY=email
OTP_FROM=no-reply@nearbuy.local
OTP_FROM_NAME=Nearbuy
BREVO_API_KEY=
BREVO_API_URL=https://api.brevo.com/v3/smtp/email
MAILJET_API_KEY=
MAILJET_SECRET_KEY=
MAILJET_API_URL=https://api.mailjet.com/v3.1/send
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=false
MAIL_STARTTLS=false
MAIL_STARTTLS_REQUIRED=false
MAILPIT_PORT=8025
